.form-login {

}

.form-title {
    text-align: center;
    margin-top: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-label {
    font-size: 1.2rem;
}

.form-control {
    margin-top: 4px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--bs-gray-600);
    
}

.form-control:focus {
    border: 1px solid var(--bs-primary);
}


.link {
    color: var(--bs-secondary);
    text-decoration: underline; 
}


